appdirs==1.4.4
argon2-cffi==20.1.0
arrow==0.15.8
atomicwrites==1.4.0
attrs==20.1.0
backcall==0.1.0
binaryornot==0.4.4
bleach==3.1.5
brewer2mpl==1.4.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
Click==7.0
colorama==0.4.3
cookiecutter==1.7.2
coverage==5.2.1
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
engarde==0.4.0
entrypoints==0.3
filelock==3.0.12
gitdb==4.0.5
GitPython==3.1.7
idna==2.10
importlib-metadata==1.7.0
iniconfig==1.0.1
ipykernel==5.3.4
ipython==7.15.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.0
Jinja2==2.11.2
jinja2-time==0.2.0
joblib==0.15.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.6
jupyter-console==6.1.0
jupyter-core==4.6.3
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.3
mistune==0.8.4
more-itertools==8.4.0
nbconvert==5.6.1
nbdime==2.0.0
nbformat==5.0.7
notebook==6.1.3
numpy==1.18.1
packaging==20.4
pandas==1.0.1
pandocfilters==1.4.2
parso==0.7.0
pbr==5.4.5
pickleshare==0.7.5
Pillow==7.1.2
pluggy==0.13.1
poyo==0.5.0
prettyplotlib==0.1.7
prometheus-client==0.8.0
prompt-toolkit==3.0.5
py==1.9.0
pycparser==2.20
Pygments==2.6.1
pyparsing==2.4.6
pyrsistent==0.16.0
pytest==6.0.1
pytest-runner==5.2
python-dateutil==2.8.1
python-dotenv==0.14.0
python-slugify==4.0.1
pytz==2019.3
pywin32==228
pywinpty==0.5.7
pyzmq==19.0.2
q==2.6
qtconsole==4.7.6
QtPy==1.9.0
requests==2.24.0
runipy==0.1.5
scikit-learn==0.23.1
scipy==1.4.1
seaborn==0.10.1
Send2Trash==1.5.0
six==1.14.0
smmap==3.0.4
stevedore==3.2.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
threadpoolctl==2.1.0
toml==0.10.1
tornado==6.0.4
tqdm==4.48.2
traitlets==4.3.3
urllib3==1.25.10
virtualenv==20.0.31
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
watermark==2.0.2
wcwidth==0.2.3
webencodings==0.5.1
widgetsnbextension==3.5.1
zipp==3.1.0
